{%extends 'pvadmin_base.html'%}
{% block title%}  PvAdmin Update Password {% endblock %}
{% block content%}
<div class="InicioButton">
    <a class="Button" href="{{ url_for('admin_users.show_all_users')}}">Regresar a la lista</a>
</div>
<h1 class="title">Cambiar Password</h1>
<div class="contenedor">
    <form class="form" method="POST" action="{{url_for('admin_password.updatepassword', user_id=user_id)}}">
        {{ form.hidden_tag() }}
        {{form.password.label}}{{form.password}}
</div>
<div class="MarginButton">
    <input class="Button" type="submit" value="Actualizar">
    </div>

</form>
{% endblock %}