{%extends 'base.html'%}
{% block title%} Reestablecer Password {% endblock %}
{% block content%}
<h1 class="title">Cambiar Password</h1>
<div class="contenedor">
    <form class="form" method="POST" action="/resetpassword/<token>">
        <label for="new_password">Nueva contraseña:</label>
        <input type="password" id="new_password" name="reset_password" required>
</div>
<div class="MarginButton">
    <input class="Button" type="submit" value="Actualizar">
    </div>
</form>
{% endblock %}