{%extends 'base.html'%}
{% block title%} Reestablecer Password {% endblock %}
{% block content%}
<h1 class="title">Cambiar Password</h1>
<div class="contenedor">
    <form class="form" method="POST" action="{{url_for('user_update.newpassword')}}">
        {{ form.hidden_tag() }}
        {{form.password.label}}{{form.password}}
</div>
<div class="MarginButton">
    <input class="Button" type="submit" value="Actualizar">
    </div>
    <div class="MarginButton">
        <a class="Button" type="Button" value="Regresar" href="{{ url_for('user_dashboard.dashboard')}}">Regresar</a>
        </div>
</form>
{% endblock %}